body {
    background: gray;
}

.root {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.root__title {
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.graphic {
    background: linear-gradient(#3E5151, #decba4);
    width: 90%;
    height: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.graphic span {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px 5px 0 0;
}

@media(min-width: 768px) {
    .root__title {
        font-size: 3rem;
        margin-top: 20px;
    }

    .graphic {
        max-width: 500px;
    }
}